.events-news-wrapper {
  background-color: #f3f3f3;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .events {
    width: 100%;

    @include styleFor(tablet-and-up) {
      width: calc((100% - 24px) * 2 / 3);
    }
  }

  .news-bulletin {
    width: 100%;

    @include styleFor(tablet-and-up) {
      width: calc((100% - 24px) / 3);
    }
  }
}